<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/land.css">
</head>
<body>
    <div class="container">
        <h1>Now Playing</h1>
        <h2>Tell your viewers what you're listening to!</h2>

        <div class="login">
            <h3>Login with:</h3>
            <a href="<%= spotify %>" class="spotify">Spotify</a>
        </div>
    </div>
</body>
</html>