<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial - OBS</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tutorial.css">
</head>
<body>
    <div class="container">
        <h1>Tutorial - OBS</h1>

        <div class="tutorial">
            <p>
                Adding Now Playing to OBS is incredibly simple. So go ahead and open OBS!
            </p>
            <ol>
                <li>
                    Select the scene you want Now Playing to be in, and add a <b>Browser</b> source
                </li>
                <li>
                    In the <b>URL</b> field, paste your overlay link
                </li>
                <li>
                    Set the <b>Width</b> to however wide you want
                </li>
                <li>
                    Set the <b>Height</b> to 50
                </li>
                <li>
                    Click <b>OK</b>
                </li>
            </ol>
            <p>
                That's all you need! You can scale the source in the canvas however you'd like.
            </p>

            <span>
                <b>Note:</b> If you edit the appearance of your Now Playing text, go to your Browser source
                properties and click <b>Refresh cache of current page</b>.
            </span>
        </div>
    </div>
</body>
</html>