.login {
    background-color: #EFEFEF;
    color: #191414;
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

a.spotify {
    color: white;
    background-color: #1DB954;
    font-size: 16pt;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

h2 {
    margin-bottom: 30px;
}