.login {
    background-color: #EFEFEF;
    color: #2B303B;
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.login h3 {
    margin-top: 0px;
}

.login a {
    color: #2B303B;
}