.tutorial {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    color: #191414;
    padding: 15px;
    border-radius: 10px;
}

p {
    font-size: 18pt;
}

ol {
    text-align: left;
    border: 1px solid gray;
    padding: 10px;
    padding-left: 40px;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
    font-size: 16pt;
    border-radius: 10px;
}